.env
node_modules
uploads

# ML model
ml/models

# Python virtual environment
venv/

# Data folder
data/

# Byte-compiled Python files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.tmp

backend/downloads
backend/image_labels_train.csv
backend/filtered_image_labels_train.csv
backend/NORMAL
backend/PNEUMONIA
backend/mock